@import url(variables.css);
@import url(footer.css);
@import url(logo-navbar.css);
@import url(key-hole.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Changa', sans-serif;
    background-color: var(--primary-background-colour);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: auto;
    overflow-x: hidden;
}

.header-content {
    position: relative;
}

.header-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Textbox */
.main-textbox {
    background-color: #424242c5;
    width: 90%;
    max-width: 400px;
    border-radius: 20px;
    position: absolute;
    top: 58%;
    right: 5%;
    transform: translateY(-50%);
    font-size: clamp(14px, 2vw, 18px);
    color: var(--primary-colour);
    padding: 20px;
    box-shadow: var(--primary-box-shadow);
    text-align: center;
}

.h1-main {
    font-size: clamp(24px, 3vw, 32px);
    margin: 10px 0;
}

.p1-main {
    font-size: clamp(16px, 2.5vw, 20px);
    margin: 10px 0;
}

.main-button1 {
    width: clamp(80px, 6vw, 100px);
    height: 45px;
    position: absolute;
    bottom: 5%;
    right: 5%;
    background-color: var(--primary-menu-color);
}

nav {
    position: absolute;
    top: 90px;
    left: 5%;
    box-shadow: var(--primary-box-shadow);
}

.menu-button {
    font-size: clamp(14px, 1.5vw, 16px);
    padding: 8px 12px;
    color: var(--secoundary-color);
    background-color: var(--primary-menu-color);
}

.dropdown-menu {
    display: none;
    position: absolute;
    background: #272626;
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
}

.dropdown-item {
    font-size: clamp(14px, 1.5vw, 16px);
    padding: 10px;
    color: white;
    text-align: center;
}

.menu:hover .dropdown-menu {
    display: block;
    color: #272626;
}

.main-button1:hover {
    background-color: var(--secondary-orange-colour);
    color: var(--secondary-colour);
    border-color: var(--secoundary-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Responsive Adjustments */
@media (max-width: 1085px) {
    .main-textbox {
        max-width: 300px;
        right: 3%;
    }

    .main-button1 {
        width: clamp(80px, 4vw, 70px);
        height: 30px;
    }

    .p1-main {
        font-size: clamp(12px, 3vw, 16px);
    }

    .h1-main {
        font-size: clamp(16px, 3vw, 26px);
    }

    nav {
        left: 4%;
        top: 70px;
    }
}

@media (max-width: 768px) {
    .main-textbox {
        right: 2%;
        padding: 15px;
    }

    .menu-button {
        padding: 6px 10px;
    }

    .main-textbox {
        max-width: 45%;
    }

    .main-button1 {
        font-size: 6px;
        width: clamp(30px, 8vw, 50px);
        height: 20px;
    }

    .p1-main {
        font-size: clamp(10px, 2vw, 14px);
    }

    .h1-main {
        font-size: clamp(14px, 2.5vw, 20px);
    }

    nav {
        left: 2%;
        top: 50px;
    }
}

@media (max-width: 480px) {
    .main-textbox {
        top: 55%;
        padding: 10px;
    }

    .menu-button {
        font-size: 12px;
        padding: 5px 8px;
    }

    .main-button1 {
        font-size: 6px;
        width: clamp(30px, 8vw, 50px);
        height: 20px;
    }

    .social-media {
        bottom: 10px;
    }
}