:root {

    --primary-colour: white;
    --secoundary-clour: black;
    --primary-background-colour: #272626;

    --primary-orange-colour: #FFA953;
    --secoundary-orange-color: #FFCD86;

    --primary-gray-color: #4F4B4B;
    --secoundary-gray-color: #D9D9D9;

    --primary-button-colour: #AB5C18;

    --primary-menu-color: #D6CD8D;
}