@import url(style/variables.css);

body {
    background-image: var(--primary-linear-gradient-color);
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

main {
    margin: 200px 0 100px 0;
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: auto;
}

.frame1 {
    left: 27%;
    position: relative;
    background-color: var(--primary-colour);
    width: 40%;
    height: auto;
    padding: 60px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

h1 {
    font-size: 2.8rem;
    text-shadow: var(--secoundary-box-shadow);
    text-decoration: underline;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

input {
    height: 30px;
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    box-shadow: var(--primary-box-shadow);
    border-radius: 5px;
    display: block;
}

.check-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    font-size: clamp(10px, 2vw, 12px);
    margin: 10px auto;
    text-align: left;
}

.check-box-frame {
    margin-right: 10px;
    width: 16px;
    height: 16px;
}

.sign-up-button {
    position: relative;
    background-color: var(--sign-up-button-colour);
    border-radius: 5px;
    box-shadow: var(--secoundary-box-shadow);
    text-decoration: none;
    width: 200px;
    height: 30px;
    color: var(--primary-colour);
    text-decoration: underline;
    margin: 20px auto;
    display: block;
}

.sign-up-terms {
    font-size: 0.85rem;
    margin: 10px auto;
    padding: 5px;
    text-align: center;
    color: var(--gray-text-colour);
    width: 80%;
}

.sign-up-button:hover {
    background-color: var(--primary-yellow-colour);
    color: var(--secoundary-colour);
}

p {
    font-size: 0.85rem;
    color: gray;
    text-align: center;
}