@import url(style/variables.css);
@import url(style/footer.css);
@import url(style/logo-navbar.css);
@import url(style/key-hole.css);
@import url(style/menu-button.css);

body {
    background-image: var(--primary-linear-gradient-color);
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 0;
}

main {
    margin-top: 200px;
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: auto; /* Adjust to content height */
}

.frame1 {
    left: 27%;
    position: relative;
    background-color: var(--primary-colour);
    width: 40%;
    height: auto;
    padding: 60px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

h1 {
    font-size: 3.5rem;
    text-shadow: var(--secoundary-box-shadow);
    text-decoration: underline;
}

h2 {
    font-size: 1.3rem;
}

input {
    height: 30px;
    width: 50%;
    margin: 20px;
    box-shadow: var(--primary-box-shadow);
    border-radius: 5px;
}

.check-box-frame {
    box-shadow: none;
    margin: auto;
}

.check-box {
    display:inline-block;
    margin: 5px;
    width: 50%;
    position: relative;
    font-size: clamp(10px, 2vw, 12px);
    margin-top: 10px;
}

.sign-up-button {
    position: relative;
    background-color: var(--sign-up-button-colour);
    border-radius: 5px;
    box-shadow: var(--secoundary-box-shadow);
    text-decoration: none;
    width: 200px;
    height: 30px;
    color: var(--primary-colour);
    text-decoration: underline;
}

p1 {
    font-size: clamp(10px, 2vw, 12px);
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    color: var(--gray-text-colour);
}

.sign-up-button:hover {
    background-color: var(--primary-yellow-colour);
    color: var(--secoundary-colour);
}