@import url(style/variables.css);
@import url(style/footer.css);
@import url(/css/style/key-hole.css);
@import url(/css/style/logo-navbar.css);

html, body {
    font-family: 'Changa', sans-serif;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.exhibits-text-frame {
    position: relative;
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;
}

.exhibits-header {
    display: flex;
    font-size: 4vw;
    color: var(--primary-colour);
    text-shadow: var(--primary-colour);
    text-shadow: var(--secoundary-green-colour);
}

header {
    width: 100%;
    height: 900px;
    background-color: var(--primary-background-colour);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
}

.header-text-frame {
    width: 70%;
    flex-direction: column;
    text-align: center;
    display: flex;
    position: relative;
    margin: 410px auto;
    font-size: 2vw;
    color: var(--primary-colour);
    text-shadow: var(--primary-text-shadow);
}

main {
    background-color: var(--primary-background-colour);
    font-family: 'Changa', sans-serif;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: auto;
    overflow-x: hidden;
    align-items: center;
}

.general-frame {
    margin-bottom: 60px;
    width: 60%;
    height: auto;
    text-align: center;
    padding: 20px;
    padding-bottom: 60px;
    padding-top: 50px;
    color: var(--primary-colour);
}

.header-h1 {
    text-decoration: underline;
    margin-bottom: 40px;
}

.h1 {
    font-size: 40px;
    text-decoration: underline;
    text-shadow: var(--primary-text-shadow);
    color: var(--primary-colour);
    margin-bottom: 30px;
}

.p,
.p1,
.p2 {
    font-size: 30px;
    color: var(--primary-colour);
    line-height: 1.6;
    margin: 10px auto;
}

.p3 {
    font-size: 20px;
    color: var(--primary-colour);
    line-height: 1.6;
    margin: 10px auto;
}

.about-us-button-frame {
    display: flex;
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 170px;
    height: 50px;
    margin: 0 auto;
    box-shadow: var(--secoundary-box-shadow);
}

.general-frame-button {
    display: flex;
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 170px;
    height: 50px;
    margin: 0 auto;
    box-shadow: var(--secoundary-box-shadow);
}

.about-us-fixed-button {
    display: flex;
    margin: 0 auto;
    height: auto;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-menu-color);
}

.general-frame-button:hover {
    box-shadow: var(--blue-box-shadow);
}